html,
body {
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow: hidden;
}

#drop-zone {
    width: 90%;
    height: 90%;
    overflow-y: auto;
    border: 1px solid black;
    background-color: red;
}