.has-tooltip> :not(.tooltip) {
    /* Styles for children elements that are not tooltips */
    /* Wrapping */
    height: 55px;
    text-overflow: ellipsis;
    overflow: hidden;

    /* Layout */
    word-wrap: break-word;
    max-width: 100%;
    text-align: center;
}


/* Tooltip style */
.has-tooltip .tooltip {
    position: absolute;
    visibility: hidden;
    max-width: 80%;
    word-wrap: break-word;
    padding: 3px;
    color: white;
}

.has-tooltip:hover .tooltip {
    --background-color: rgb(105, 100, 96);
    visibility: visible;
    background-color: var(--background-color);
}