<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>File Display</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/glow_effect.css') }}" />
  </head>
  <body>
    <script src="{{ url_for('static', filename = 'javascripts/redirect_selected_file.js') }}"></script>
    <a onclick="redirect_selection()">Return home</a>
    <br />
    <h1>File Display</h1>

    <!-- File display section -->
    <div id="file-list"></div>

    <!-- Define files_json in the global scope -->
    <script>
      const fileData = {{files_json | tojson | safe}}
      const image_folder = "{{ url_for('static', filename = 'images/')}}"
    </script>

    <!-- Include the fileDisplay.js script -->
    <script src="{{ url_for('static', filename = 'javascripts/fileDisplay.js') }}"></script>
  </body>
</html>
