:root {
    --background-color: rgb(253, 233, 177);
}

html,
body {
    display: grid;
    grid-template-columns: 7fr 1fr;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    overflow-y: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    /* Remove iframe border */
    border: none;
}